<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-mydevice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-multi-devices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-analytics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-shapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-images.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-mouse-select.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-shaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-magnets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-oring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-effects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>12-polygons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>13-primitives.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>14-textures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>15-paint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>16-friction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>17-shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>18-endoscope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>19-space.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>20-map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>21-object.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>22-chrome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>23-tooth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>24-turntable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>25-sounds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>26-video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>27-multiframes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>28-voxel-basic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>29-voxel-isosurface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>30-voxel-colormap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>31-pointcloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cfont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>cimage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>cshader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>962B823D1A1B34E200422CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9631A43E194A3F4F006569D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9653DFA414C53BCE00DF969B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9659DA12178E7D0200B9A6D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965AABDB17938E0500E8B4F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C26E0FC0207300177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C29D0FC0246500177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C2B80FC025F500177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C2CF0FC0272200177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C2F40FC02A4800177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C30B0FC02B9800177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C3210FC02C5700177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C3440FC02D7600177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C37B0FC02F4100177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9666252119E64DBE008B2D36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AB441DDE2311002C883C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AB551DDE2462002C883C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AB6B1DDE2875002C883C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AE541592D262003609A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AE6D1592D439003609A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AE861592D52F003609A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9686AE9F1592D635003609A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2E196199B4EB30041B0EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2E1AF199B51350041B0EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2E1C8199B52140041B0EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2E1E1199B52C40041B0EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A2E1FB199B54380041B0EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96BA09CF17B9EAD800E0E3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96BD80801793C5EB00E941A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D0116814E3713C00446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D0118314E372C600446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D0119C14E3735000446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D011B814E373DB00446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D011E114E3749100446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FBA05B192DDA04003D819F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
