 <!DOCTYPE html>
<html>
<head>
<title>ELEC490 Haptic Simulator</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="../styles.css" >
</head>
<body>

<div class="container" style="margin:auto; margin-bottom: 20px; width: 100%; text-align: center;">
	<h1 style="font-size: 36px;">Breast Palpation Tutorial</h1>
</div>

<div class="container" id="BPVid">
	  <iframe height="500" width="600" style="display:block; margin: auto;" src="https://www.youtube.com/embed/pJ55UtP0_nA"></iframe> 
</div>


<img src="../nextButton.png" heigh="10%" width="10%" id="start" onclick="startSim()">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
	function startSim(){
		window.location.href = '/runsimulation';
	}
</script>

</body>
</html> 