<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-bullet-cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>02-bullet-pool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>03-bullet-mesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>04-bullet-tool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>05-bullet-dental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>06-bullet-exploration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>07-bullet-articulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96270F601DA44DED0058E41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9659D97B178E765600B9A6D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9662C26E0FC0207300177FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D0116814E3713C00446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D0118314E372C600446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D0119C14E3735000446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D011B814E373DB00446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96D011E114E3749100446A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
